.container-upload-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 1px solid #ebeffa;
  background: var(--White, #fff);
  box-shadow: 0px 17px 34px 0px rgba(0, 0, 0, 0.1);
  width: 662px;
  overflow: hidden;
  z-index: 10;
  height: 355px;
  padding-bottom: 20px;
}

.title-checkbox{
  color: #364261;
  font-family: Afacad;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 117.647% */
  text-transform: capitalize;
  padding: 10px;
  border-bottom: 1px solid #d0d5dd;
}

.container-upload-form .header-upload-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #364261;
  font-family: Afacad;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 117.647% */
  text-transform: capitalize;
  border-bottom: 1px solid #d0d5dd;
}

.container-upload-form .header-upload-form button {
  all: unset;
  cursor: pointer;
  padding: 10px;
}

.container-upload-form .body-upload-form{
    border-radius: 10px;
border: 1px dashed #0162E8;
background: #ECF0FA;
width: calc(100% - 40px);
margin-left: 20px;
margin-right: 20px;
margin-top: 18px;
height: 184px;
display: flex;
align-items: center;
flex-direction: column;
gap: 15px;
padding-top: 27px;
color: #364261;
text-align: center;
font-family: Afacad;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
}

.container-upload-form .body-upload-form img{
    width: 39px;
    height: 30px;
}

.container-upload-form .footer-upload-form{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.container-upload-form .footer-upload-form button:first-of-type{
  all:unset;
    border-radius: 6px;
border: 1px solid #0162E8;
background: #FFF;
width: 108px;
height: 40px;
color: #0162E8;
display: flex;
justify-content: center;
align-items: center;
font-family: Afacad;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 15px; /* 107.143% */
cursor: pointer;
}

.container-upload-form .footer-upload-form button:last-of-type{
  all:unset;
    border-radius: 6px;
background: #0162E8;
color: #FFF;
font-family: Afacad;
font-size: 14px;
font-style: normal;
font-weight: 400;
width: 108px;
height: 40px;
line-height: 15px; /* 107.143% */
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
gap: 7px;
}

.body-upload-form input{
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  width: 1;
}

.container-upload-form .list-checkbox{
  display: flex;
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
}

.container-upload-form .list-checkbox .item-checkbox{
  flex-grow: 1;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-basis: 200px;
}
